{% extends "base.html" %}

{% block cuerpo %}
<div class="row"><!--fila en editar-->
    <div class="col-md-4 offset-md-4">
        <h2>Editar Sucursal</h2>
        <!-- Aqui codigo tarjeta -->
        <div class="card"><!--la tarjeta-->
            <div class="card-body">
            <form action="/editarSucursal/" method="POST"> {% csrf_token %} <!-- falta action-->
            <div class="form-group">
                <input type="text" id="suc" name="suc" class="form-control"  
                value="{{missucursales.id_suc}}" minlength="1" maxlength="6" required><br>
              </div>
              <div class="form-group  py-2">
                <input type="text" id="nom" name="nom" class="form-control"
                value="{{missucursales.nombre}}" minlength="1" maxlength="100" required><br>
              </div>
              <div class="form-group  py-2">
                <input type="text" id="dire" name="dire" class="form-control"
                value="{{missucursales.dire}}" minlength="1" maxlength="100" required><br>
              </div>
              <div class="form-group  py-2">
                <input type="time" id="hor" name="hor" class="form-control"
                value="{{missucursales.horario}}" minlength="1" maxlength="100" required><br>
              </div>
              <div class="form-group  py-2">
                <input type="text" id="tel" name="tel" class="form-control"
                value="{{missucursales.tel}} " minlength="1" maxlength="100"  required><br>
              </div>
              <div class="form-group  py-2">
                <input type="text" id="cor" name="cor" class="form-control"
                value="{{missucursales.correo}}"  minlength="1" maxlength="100" required><br>
              </div>
            <div class="form-group  py-2">
              <button type="submit" class="btn btn-primary">Guardar Sucursal</button>
            </div>
          </form>
            </div>
          </div><!--la tarjeta-->
         <!-- Aqui codigo tarjeta -->
    </div>
</div> <!--fila en editar-->
{% endblock %}